In [9]:
import pandas as pd

data = pd.read_csv('data/citibike-tripdata.csv')

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [15]:
data['start station id'].mode()[0]

281.0

In [16]:
data['bikeid'].mode()[0]

33887

In [22]:
round(data['usertype'].value_counts(normalize=True)[0], 2)

0.77

In [28]:
data['gender'].value_counts()

1    183582
2     74506
0     41912
Name: gender, dtype: int64

In [29]:
print(data['start station id'].nunique())
print(data['end station id'].nunique())

759
765

In [31]:
data['birth year'].max()

2002

In [33]:
data['end station name'].value_counts()

West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: end station name, Length: 765, dtype: int64

In [35]:
data.drop(['start station id', 'end station id'], axis=1,inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

In [37]:
data['age'] = 2018 - data['birth year']
data.drop('birth year', axis=1, inplace=True)

In [44]:
data[data['age'] > 60].shape[0]

11837

In [49]:
data['starttime'] = pd.to_datetime(data['starttime'])
data['stoptime'] = pd.to_datetime(data['stoptime'])

0        2018-09-01 00:27:20.634
1        2018-09-01 00:02:23.481
2        2018-09-01 00:55:58.547
3        2018-09-01 00:07:38.583
4        2018-09-01 02:21:25.308
                   ...
299995   2018-09-05 19:15:51.494
299996   2018-09-05 19:20:01.508
299997   2018-09-05 19:13:40.506
299998   2018-09-05 20:04:29.322
299999   2018-09-05 19:12:14.762
Name: stoptime, Length: 300000, dtype: datetime64[ns]

In [56]:
data['trip duration'] = data['stoptime'] - data['starttime']
data['trip duration'].mean().seconds

1126

In [60]:
data['weekend'] = data['starttime'].dt.dayofweek.apply(lambda x: 1 if x == 5 or x == 6 else 0)
data['weekend']

0         1
1         1
2         1
3         1
4         1
         ..
299995    0
299996    0
299997    0
299998    0
299999    0
Name: weekend, Length: 300000, dtype: int64

In [62]:
data[data['weekend'] == 1].shape[0]

115135

In [64]:
data['time_of_day'] = data['starttime'].dt.hour.apply(lambda x: 'night' if 0<=x<=6 else 'morning' if 6<x<=12 else 'day' if 12<x<=18 else 'evening')
data['time_of_day']

0           night
1           night
2           night
3           night
4           night
           ...
299995    evening
299996    evening
299997    evening
299998    evening
299999    evening
Name: time_of_day, Length: 300000, dtype: object

In [65]:
round(data[data['time_of_day'] == 'day'].shape[0] / data[data['time_of_day'] == 'night'].shape[0])

9